@font-face {
  font-family: 'nexonLv1';
  font-weight: 100;
  font-style: normal;
  src: url('../../fonts/NEXON Lv1 Gothic Low OTF.otf') format('woff2'),
    url('../../fonts/NEXON Lv1 Gothic Low OTF.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nexonLv1';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/NEXON Lv1 Gothic Low OTF Light.otf') format('woff2'),
    url('../../fonts/NEXON Lv1 Gothic Low OTF Light.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nexonLv1';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/NEXON Lv1 Gothic Low OTF Bold.otf') format('woff2'),
    url('../../fonts/NEXON Lv1 Gothic Low OTF Bold.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nanumSquareNeo';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/NanumSquareNeoOTF-Lt.otf') format('woff2'),
    url('../../fonts/NanumSquareNeoOTF-Lt.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nanumSquareNeo';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/NanumSquareNeoOTF-Rg.otf') format('woff2'),
    url('../../fonts/NanumSquareNeoOTF-Rg.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nanumSquareNeo';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/NanumSquareNeoOTF-Bd.otf') format('woff2'),
    url('../../fonts/NanumSquareNeoOTF-Bd.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nanumSquareNeo';
  font-weight: 800;
  font-style: normal;
  src: url('../../fonts/NanumSquareNeoOTF-Eb.otf') format('woff2'),
    url('../../fonts/NanumSquareNeoOTF-Eb.otf') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'nanumSquareNeo';
  font-weight: 900;
  font-style: normal;
  src: url('../../fonts/NanumSquareNeoOTF-Hv.otf') format('woff2'),
    url('../../fonts/NanumSquareNeoOTF-Hv.otf') format('woff');
  font-display: swap;
}
